#chatroom {
    border:3px solid black;
    min-height:400px;
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display:none;
}
#chatbox{
    display:none;
}
#user_chat {
    width:500px;
}
p {
    font-size: 16px;
}